@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var startNodeId = Model.MacroParameters["startNodeId"] != null ? Model.MacroParameters["startNodeId"] : Model.Content.Id;


}
@if (startNodeId != null)
{
    @* Get the starting page *@
var startNode = Umbraco.TypedContent(startNodeId);
var products = startNode.Children.OrderByDescending(x => x.CreateDate).ToList();
var pagedProducts = products.OrderBy(x => x.SortOrder).ToList();

if (pagedProducts.Count > 0)
{
        <div class="blogposts">

            @foreach (ContentModels.Product post in pagedProducts)
            {
                <div class="product">
                    <span>post.Description</span>
                </div>
            }
        </div>
    }
}
