@inherits UmbracoTemplatePage<Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<section class="section">
    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
</section>

<div class="col-xs-12 col-md-12">
    <h2 class="typKontaktu">@Model.Content.ContactFormHeader</h2>
    <p class="italic">@Model.Content.ContactIntro</p>
    <div class="formularzKontaktowy">
        @{ Html.RenderPartial("Amp/FormularzKontaktowy");}
    </div>
</div>
<div class="col-xs-12 max-height-400">
    @{ Html.RenderPartial("Amp/GoogleMaps");}
</div>



@*<style type="text/css">
        .googlemap {
            max-height: 600px;
            float: left;
            width:100%}
        }
    </style>*@

@*<link rel="stylesheet" href="@Url.Content("~/Styles/KontakILokalizacja-cleaned.css")" async>*@