h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
}
h2 {
    color: #093c09;
    font-weight: 700;
    font-size: 22px;
}
.red {
    color: red;
}
.green,
.green > a {
	color: green;
}