h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #002601;
}
h2 {
    color: #004c02;
    font-weight: 700;
    font-size: 22px;
}
.red {
    color: red;
}
.green,
.green > a {
    color: #449302;
}